<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>354068810242-bh9sq5ipo7rg0m2o6aa00cqmsfhjkmgm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.354068810242-bh9sq5ipo7rg0m2o6aa00cqmsfhjkmgm</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>354068810242-7uc5dv3rqmo4vf5ou6tegk1g8gij6t8b.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBpaqEwJrQT2rXS2d1An168r6nW20EjSc4</string>
	<key>GCM_SENDER_ID</key>
	<string>354068810242</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.maando</string>
	<key>PROJECT_ID</key>
	<string>maando-3ec60</string>
	<key>STORAGE_BUCKET</key>
	<string>maando-3ec60.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:354068810242:ios:4943994f896b0cc391751b</string>
	<key>DATABASE_URL</key>
	<string>https://maando-3ec60.firebaseio.com</string>
</dict>
</plist>